<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./css/app.css">

</head>

  <!-- spf progress bar -->
  <div id="progress"></div>

  <!-- nav component - present in all pages -->
  <div id="nav-react"></div>

  <body>
    <div id="content">
      {% block home %}{% endblock %}
    </div>

      <script src="./js/common.bundle.js"></script>
  </body>

</html>